<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994609579242-fq7h7i71kj0flrup7u9afj7qbfs0dck0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994609579242-fq7h7i71kj0flrup7u9afj7qbfs0dck0</string>
	<key>API_KEY</key>
	<string>AIzaSyDK9Jq4rXCpoSe8npvhTehc2i6uU7alj3U</string>
	<key>GCM_SENDER_ID</key>
	<string>994609579242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ScrambledTasks</string>
	<key>PROJECT_ID</key>
	<string>scrambled-tasks</string>
	<key>STORAGE_BUCKET</key>
	<string>scrambled-tasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994609579242:ios:e088358a2f777868a7c393</string>
	<key>DATABASE_URL</key>
	<string>https://scrambled-tasks.firebaseio.com</string>
</dict>
</plist>